body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #2b3d52;
}

.navbar-nav .nav-link.active {
    color: #ffa500 !important;
    font-weight: bold;
}

.servicio-card img.card-img-top {
    width: 100px !important;
    height: 100px !important;
    object-fit: contain;
}

footer {
    margin-top: 40px;
}
